/***********************************************************************************************************************
BASE
 */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: silver;
}

.container {
    width: 70%;
    height: 100%;
    margin-right: 15%;
    margin-left: 15%;
}

#copyright {
    float: right;
    text-align: right;
    padding-top: 100px;
    padding-right: 16px;
}

#title {
    padding-top: 30px;
    text-align: center;
}

img#logo {
    position: relative;
    float: left;
    clear: right;
    width: 100px;
    height: 100px;
    padding-top: 26px;
    padding-left: 5%;
}

.clear {
    clear: both;
}

input {
    padding: 8px 16px;
}

button {
    padding: 8px 16px;
    cursor:pointer;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 8px 16px;
}

/***********************************************************************************************************************
NAVIGATION BAR
 */
div.navigation_bar {
    width: 100%;
    height: 50px;
    padding-top: 26px;
}

div.navigation_bar ul {
    list-style-type: none;
    height: inherit;
    background-color: maroon;
    overflow: hidden;
}

div.navigation_bar li {
    float: left;
    height: inherit;
    border-right: 1px solid #bbb;
}

div.navigation_bar li.logout {
    float: right;
    border-right: 0;
    border-left: 1px solid #bbb;
}

div.navigation_bar li a {
    display: block;
    color: white;
    height: inherit;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

div.navigation_bar li a:hover:not(.active) {
    background-color: firebrick;
}

div.navigation_bar li a.active {
    background-color: brown;
}

/***********************************************************************************************************************
SEARCH
 */
div.search_box {
    padding-top: 30px;
    width: 100%;
}

div.search_box #title {
    padding-top: 0;
    padding-right: 30px;
    float: left;
    text-align: left;
}

div.search_box input {
    float: left;
    text-align: left;
}

div.search_box table {
    border: solid 1px;
    background-color: white;
    width: 100%;
}

div.search_box th {
    background-color: lightgrey;
    color: black;
    text-align: left;
    cursor: pointer;
}

div.search_box th:hover {
    background-color: #C8C8C8;
}

div.search_box tr:nth-child(even)  {
    background-color: white;
}

div.search_box tr:nth-child(odd)  {
    background-color: #E2E2E2;
}

div.search_box th.sku, td.sku, th.cost, td.cost, th.stock, td.stock {
    width: 10%;
}

div.search_box th.name, td.name {
    width: 40%;
}

div.search_box th.category, td.category {
    width: 30%;
}

div.search_box .currency {
    text-align: center;
}

div.search_box .number {
    text-align: right;
}

/* Following sampled from https://stackoverflow.com/a/22156412 */
.sorting, .sorting_asc, .sorting_desc {
    padding: 4px 21px 4px 4px;
    cursor: pointer;
}

.sorting {
    background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==) no-repeat center right;
}

.sorting_asc {
    background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==) no-repeat center right;
}

.sorting_desc {
    background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=) no-repeat center right;
}
/* End sample */

/***********************************************************************************************************************
CENTRED
 */
.float_center {
    float: right;
    position: relative;
    right: 50%;
    text-align: left;
}

.float_center > .float_center_child {
    position: relative;
    left: 50%;
}

.text_centred {
    text-align: center;
}
